$bgColor: #F4F6F9;
$mainFontColor: #3A4466;
$secondaryFontColor: #C0CBDC;
$blue: #0099DB;
$darkBlue: #124E89;
$purple: #B55088;
$green: #63C74D;
$orange: #FEAE34;
$pink: #F6757A;

$breakpoint: (
    small: 320px,
    medium: 500px,
    large: 768px,
    xlarge: 1024px,
    xxlarge: 1200px,
    xxxlarge: 1440px,
);